*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

ul{
  list-style: none;
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  color: white;
}

.about{
  height: 300vh;
  display: flex;
}

.about-title{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0 !important;
}

.about-pages{
  width: 50%;
}

.about-pages div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.about-pages div > p{
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1){
  background-color: #fcb045;
}

.about-pages div:nth-child(2){
  background-color: #833ab4;
}

.about-pages div:nth-child(3){
  background-color: #fd1d1d;
}

footer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  align-items:first baseline;
  justify-content: space-between;
}

.heading-6{
  font-weight: bold;
  padding: 10px 20px;
  background: #833ab4;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.peer-item{
  font-weight: bold;
  padding: 10px 20px;
  background: #1e650e;
  color: white;
  margin-bottom: 10px;
  
}

.hide{
  display: none;
}
.show{
  display: block;
}