.root {
    background-color: rgb(195, 195, 195);
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
  }
  
  .inner {
    display: flex;
    justify-content:right;
  }
  
  .logo {
    background-color: rgb(71, 98, 2);
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
  
    &:hover {
      background-color: #43ee68;
    }
  }
  
  .buttons {
    button {
      margin-left: 20px;
    }
  
    a {
      text-decoration: none;
    }
  }